{%  extends 'master_app/base.html' %}
{% load static %}

{% block title %}DevsFlux{% endblock %}


{% block extra_css %}
{% endblock %}


{% block content %}



<main id="main">

  {% include 'master_app/clients.html' %}

  {% include 'master_app/about.html' %}

  {% include 'master_app/counts.html' %}
  
  {% include 'master_app/tabs.html' %}
  
  {% include 'master_app/services.html' %}
  
  {% include 'master_app/portfolio.html' %}

  {% include 'master_app/testimonials.html' %}

  {% include 'master_app/pricing.html' %}

  {% include 'master_app/faq.html' %}

  {% include 'master_app/team.html' %}

  {% include 'master_app/contact.html' %}
  
</main>



{% endblock %}


{% block extra_js %}
{% endblock %}